<%= form_with url: sessions_path do |form| %>
  <div class="field">
    <%= form.label :name, class: "h3 font-weight-bold d-block" %>
    <%= form.text_field :name, class: "form-control", autofocus: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Log In', class: "custom-btn" %>
  </div>
<% end %>
