<div>
  <h3 class="theme-color text-center">Comments</h3>
  <p class="comment">
    <h4 class="text-center"><i class='fa fa-comment'>&nbsp;</i><%= comment.content %></h4>
  </p>
  <p>
    <h6 class="text-center">
      <i><%= comment.author %></i> commented <%= time_commented_afterwards(comment) %> later
    </h6>
  </p><br />

</div>
