<div>
  <p class="comment">
    <h4><i class='fa fa-comment'>&nbsp;</i><%= comment.content %></h4>
  </p>
  <p>
    <h6>
      <i><%= comment.author %></i> commented <%= time_commented_afterwards(comment) %> later
    </h6>
  </p><br />

</div>
