<div class="container">
    <div class="col-md-12 text-center">
      <h1 class="theme-color">Create Account</h1>
        <div class="formbox">
          <%= render 'form', user: @user %>
        </div>
    </div>
</div>
