<div class="container">
    <div class="col-md-12 text-center">
      <h1 class="theme-color">Create Account</h1>
      <%= render 'form', user: @user %>
      <%= link_to 'All Users', users_path %>
    </div>
</div>
